/* основной цвет текста #757575; */
/* вторичный цвет текста #212121 */
/* Основной белый цвет #FFFFFF */
/* Вспомагательный белый rgba(255, 255, 255, 0.6) */
/* акцент #2196F3; */
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--additional-white-color: rgba(255, 255, 255, 0.6);
	--footer-background-color: #2f303a;
}
body {
	color: var(--primary-text-color);
}

/* утилита точек */
.list {
	list-style: none;
}
/* утилита линков */
.link {
	text-decoration-line: none;
}
.site-nav .link {
	color: var(--title-text-color);
}

/* header */
.logo-text {
	color: var(--accent-color);
}
.logo {
	color: #000000;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}
.site-nav .link.current {
	color: var(--accent-color);
}
.contact-nav .link {
	color: var(--primary-text-color);
}
.contact-nav .link:hover,
.contact-nav .link:focus {
	color: var(--accent-color);
}

/* section */
.section-title {
	color: var(--title-text-color);
}

/* features */
.features .title {
	color: var(--title-text-color);
}

/* team */
.team .title {
	color: var(--title-text-color);
}

/* footer */
.footer {
	color: var(--primary-white-color);
	background-color: var(--footer-background-color);
}
.footer .logo {
	color: var(--primary-white-color);
}
.address .link {
	color: var(--additional-white-color);
}
.address .link:hover,
.address .link:focus {
	color: var(--accent-color);
}

/* button */
.button {
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
}
.button.primary {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}
.button.button.primary:hover {
	color: var(--accent-color);
	background-color: var(--primary-white-color);
}

.button.secondary {
	color: var(--accent-color);
	background-color: var(--primary-white-color);
}
button.secondary:hover {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
}
.social img:hover {
	background-color: var(--accent-color);
}
